@mixin grid{
    display:grid;
    grid-template-columns:repeat(3,300px);
}

@mixin flex($justify){
    display: flex;
    justify-content:$justify ;
   place-items: center;
}

@mixin transition($el:all){
   transition:$el 0.3s ease-out ;
}

@mixin position($type,$top,$left,$bottom:unset,$right:unset) {
    position: $type;
    top:$top;
    left:$left;
    bottom:$bottom;
    right:$right
}

@mixin bg_blur($blur:10px){
    -webkit-backdrop-filter: blur($blur);
    backdrop-filter: blur($blur);
}

@mixin background_image ($gradient,$imageUrl,$fallbackColor:#000){
    background-image: linear-gradient($gradient),
    url($imageUrl);
    background-color:$fallbackColor;
    
}

@mixin SliderControlAnimation($height){
    @keyframes SlideheightActive {
        0%{
            height: 0%;
        }
        100%{
            height: $height;
        }
    }
    }