$black:#000;
$white:#fff;
$dim-black:rgba(0, 0, 0, 0.657);
$primary:rgb(218, 15, 76);
$primary-dim:rgba(218, 15, 76, 0.404);
$fall-back-color:#eee;
$secondary:rgb(2, 168, 219);
$info-color:rgba(255, 192, 203, 0.767);
$dim-white:rgba(255, 255, 255, 0.178);

$font-big: 5.4rem;
$font-tiny:15px;
$max-width:90%;

$secondary-font:Poppins;
$primary-font:'Open Sans';
$fallback-font:sans-serif;