@mixin SliderControlAnimation($height){
@keyframes SlideheightActive {
    0%{
        height: 0%;
    }
    100%{
        height: $height;
    }
}
}

/*Globals*/


// hide elements by default

.scroller {
    transition: 1s ease;
    opacity: 0;
}

[data-scroll].active{
    opacity: 1 !important;
}




/********************/

.fade-up {
    opacity: 0;
    transform: translateY(40px)
}

.fade-up.active {
    transform: translateY(0)
}




/**********************/

.fade-down {
    transform: translateY(-40px)
}

.fade-down.active {
    transform: translateY(0)
}


/*************/


/*****************/


/**********************/

.fade-in {
    opacity: 0;

}

.fade-in.active {
opacity: 1;
}


.zoom-in {
 transform: scale(0.5);
}

.zoom-in.active {
transform: scale(1);
}



/*****************/



@for $i from 1 through 1000{
    [scroll-delay="#{$i}"]{
        transition-delay: #{$i}ms;
    }
    [scroll-duration="#{$i}"]{
        transition-duration: #{$i}ms;
    }
}






