* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

input,
textarea {
  padding: 1rem;
  border: none;
  outline: none;
}

p {
  line-height: 2;
}

img {
  width: 100%;
}

.app {
  margin: 4rem 10px;
}
.app h3 {
  margin: 0 10px;
}

.apps {
  display: flex;
}
.apps > div {
  margin: 10px;
}

#root-main-container {
  transform: scale(1);
  transition: all 0.3s ease-out;
}

#invitation .video .play_btn, .header-nav .header__right > div {
  height: 40px;
  user-select: none;
  cursor: pointer;
  width: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  place-items: center;
  transition: all 0.3s ease-out;
}
#invitation .video .play_btn:hover, .header-nav .header__right > div:hover {
  transform: scale(0.9);
}

.primary-color {
  color: #da0f4c;
}

#why_us .why-grid .image, .hero {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer form button, #book button[type=submit], #why_us .why_2 .card.diff .btn, #why_us .why_2 .card .btn, .hero .hero__content .hero__content_left form button, .hero .hero__content .hero__content_right > .buttons > .btn {
  position: relative;
  border: 3px solid #da0f4c;
  background-color: transparent;
  color: #fff;
  padding: 12px 16px;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease-out;
}
footer form button:hover, #book button[type=submit]:hover, #why_us .why_2 .card .btn:hover, .hero .hero__content .hero__content_left form button:hover, .hero .hero__content .hero__content_right > .buttons > .btn:hover {
  background-color: transparent;
  border-color: transparent;
}
footer form button:focus, #book button[type=submit]:focus, #why_us .why_2 .card .btn:focus, .hero .hero__content .hero__content_left form button:focus, .hero .hero__content .hero__content_right > .buttons > .btn:focus {
  background-color: transparent;
  border-color: #fff;
}

.hero .hero__content .hero__content_right > .buttons > .btn.btn.active {
  border: 3px solid transparent;
  background-color: #da0f4c;
}
.hero .hero__content .hero__content_right > .buttons > .btn.active:hover {
  background-color: transparent;
}
.hero .hero__content .hero__content_right > .buttons > .btn.active:focus {
  background-color: transparent;
  border-color: #fff;
}

.hero .hero__content .hero__content_right > .buttons > .btn {
  border-radius: 100px;
}

/*Globals*/
.scroller {
  transition: 0.3s 0.3s;
  opacity: 0;
}

.scroller.active {
  opacity: 1 !important;
}

.fade-up {
  opacity: 0;
  transform: translateY(40px);
}

.fade-up.active {
  animation-name: fade-up;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

@keyframes fade-up {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/**********************/
.zoom-in {
  opacity: 0;
  transform: scale(0.5);
}

.zoom-in.active {
  animation-name: zoom-in;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

@keyframes zoom-in {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/*************/
/**********************/
.fade-down {
  opacity: 0;
  transform: translateY(-40px);
}

.fade-down.active {
  animation-name: fade-down;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

@keyframes fade-down {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/*************/
/**********************/
.write-l {
  opacity: 0;
  width: 0;
  overflow: hidden;
  animation-direction: 2s;
  animation-timing-function: ease;
}

.write-l.active {
  animation-name: write-l;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

@keyframes write-l {
  100% {
    opacity: 1;
    width: 200px;
  }
}
/*****************/
/**********************/
.fade-in {
  opacity: 0;
}

.fade-in.active {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
/*****************/
.header-nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: unset;
  right: unset;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  place-items: center;
  align-items: center;
  color: #fff;
  z-index: 10;
}
.header-nav .header__left {
  margin: 0 10px;
}
.header-nav .header__left .logo {
  text-align: center;
}
.header-nav .header__left .logo p {
  font-size: 12px;
  font-weight: bolder;
  color: #fff;
}
.header-nav .header__middle .nav-links {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-columns: repeat(5, auto);
}
.header-nav .header__middle .nav-links li {
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.header-nav .header__middle .nav-links li:hover {
  transform: translateY(-10px);
}
.header-nav .header__middle .nav-links li a {
  font-size: 14px;
  color: inherit;
}
.header-nav .header__middle .nav-links li a.active {
  color: #da0f4c;
  transition: all 0.3s ease-out;
}
.header-nav .header__right {
  display: flex;
  justify-content: space-between;
  place-items: center;
  align-items: center;
  margin-top: 40px;
  flex-direction: column;
}
.header-nav .header__right > div {
  margin: 5px 10px;
  background-color: #da0f4c;
  color: #fff;
}
.header-nav .header__right .hamburger {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-items: center;
  cursor: pointer;
}
.header-nav .header__right .hamburger > .bar {
  height: 3.4px;
  box-shadow: 0 0 10px;
  width: 25px;
  border-radius: 100px;
  margin: 2px;
  background: #000;
}

.hero {
  position: relative;
  background-color: #000;
  color: #fff;
  transition: background 0.3s ease-out;
  background-image: linear-gradient(rgba(2, 2, 2, 0.9), rgba(0, 0, 0, 0.9)), url("/img/2.jpg");
  background-color: #000;
}
.hero .hero__content {
  position: inherit;
  display: none;
  visibility: hidden;
  opacity: 0;
  padding: 100px;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  transition: transform 0.3s ease-out;
}
.hero .hero__content.active {
  display: flex;
  justify-content: space-between;
  place-items: center;
  transition: 0.1s;
  visibility: visible;
  animation: fade 1s forwards;
  opacity: 1;
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0.98);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.hero .hero__content .hero__content_right {
  position: relative;
}
.hero .hero__content .hero__content_right > .head {
  width: 600px;
  max-width: 100%;
  font-size: 5.4rem;
}
.hero .hero__content .hero__content_right > .info {
  min-width: 100%;
  max-width: 300px;
  font-size: 15px;
  opacity: 0.5;
  transition: opacity 0.3s ease-out;
}
.hero .hero__content .hero__content_right > .buttons {
  margin: 20px 0px;
}
.hero .hero__content .hero__content_right > .buttons > .btn {
  font-family: inherit;
  margin: 5px 10px;
}
.hero .hero__content .hero__content_left {
  margin: 10px;
}
.hero .hero__content .hero__content_left > h2 {
  padding: 10px 0;
}
.hero .hero__content .hero__content_left form {
  display: flex;
  flex-wrap: wrap;
}
.hero .hero__content .hero__content_left form input[type=search] {
  font-family: inherit;
  width: 100%;
  font-size: 17px;
  padding: 15px 10px;
  box-shadow: 2px 1px 100px;
}
.hero .hero__content .hero__content_left form button {
  margin: 10px 0 0 0;
  padding: 10px;
  font-size: 24px;
  background-color: #da0f4c !important;
}
.hero .slides-controls-btn {
  position: absolute;
  bottom: 10px;
  margin-bottom: 20px;
}
.hero .slides-controls-btn .control {
  position: relative;
  font-size: 15px;
  padding: 0 10px;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
}
.hero .slides-controls-btn .control.active {
  color: #da0f4c;
  transition: color 0.3s ease-out;
}
.hero .slides-controls-btn .control.active::after {
  content: "";
  position: absolute;
  top: -25px;
  width: 2px;
  left: 50%;
  transition: height 0.3s ease-out;
  height: 0px;
  animation: SlideheightActive 4.9s linear forwards;
  background-color: #da0f4c;
}
@keyframes SlideheightActive {
  0% {
    height: 0%;
  }
  100% {
    height: 25px;
  }
}

#why_us {
  position: relative;
  margin: 4rem 0;
}
#why_us .head {
  text-align: center;
  padding: 0 10%;
  margin: 5rem 0 3rem 0;
}
#why_us .head .title {
  font-size: 3.5rem;
  padding: 6px 0;
}
#why_us .why-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
#why_us .why-grid > div {
  margin: 30px;
}
#why_us .why-grid .image {
  height: 500px;
  background-color: #eee;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("/img/1.jpg");
  box-shadow: 2px 1px 16px;
}
#why_us .why {
  display: grid;
  line-height: 2;
  width: 900px;
  margin: 3rem auto;
  max-width: 100%;
  grid-gap: 30px;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200, 1fr));
}
#why_us .why .why__card {
  text-align: left;
  min-width: 200px;
  max-width: 80%;
  margin: 10px auto;
}
#why_us .why .why__card .icon {
  display: flex;
  justify-content: center;
  place-items: center;
  height: 78px;
  display: none;
  visibility: hidden;
  width: 78px;
  margin: 2rem auto;
  border-radius: 78px;
  font-size: 4rem;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px #da0f4c;
  transition: all 0.3s ease-out;
}
#why_us .why .why__card p {
  font-size: 15px;
}
#why_us .why_2 {
  position: relative;
  display: grid;
  width: 930px;
  margin: 6rem auto;
  max-width: 100%;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
#why_us .why_2 .card {
  height: 300px;
  margin: 10px;
  background-color: #eee;
  background-size: cover;
  user-select: none;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  place-items: center;
  transition: all 0.3s ease-out;
  box-shadow: 3px -2px 10px rgba(0, 0, 0, 0.308);
}
#why_us .why_2 .card .btn {
  padding: 10px;
  border: none;
  font-weight: bold;
  font-family: inherit;
  color: #000;
  background-color: #fff;
  transition: all 0.3s ease-out;
  display: none;
  transform: translateY(200%);
}
#why_us .why_2 .card .btn:hover {
  background-color: #da0f4c;
  color: #fff;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.657);
}
#why_us .why_2 .card:hover {
  box-shadow: 3px -2px 18px rgba(0, 0, 0, 0.459);
}
#why_us .why_2 .card .cont {
  align-self: flex-end;
  margin: 30px;
  text-align: center;
}
#why_us .why_2 .card .cont h2 {
  font-weight: 500;
  font-size: 27px;
  margin: 10px 0;
}
#why_us .why_2 .card.diff {
  background-image: linear-gradient(rgba(218, 15, 76, 0.404), rgba(218, 15, 76, 0.404)), url("/img/overlay-bg.jpg");
  color: #fff;
  display: flex;
  justify-content: space-between;
  place-items: center;
  align-items: center;
  text-align: left;
  justify-items: left;
  flex-direction: column;
}
#why_us .why_2 .card.diff > div {
  align-self: flex-start;
  margin: 30px;
}
#why_us .why_2 .card.diff > div h2 {
  margin: 10px 0;
  font-weight: 500;
  font-size: 27px;
}
#why_us .why_2 .card.diff .btn {
  padding: 10px;
  border: none;
  font-weight: bold;
  font-family: inherit;
  color: #000;
  background-color: #fff;
}
#why_us .why_2 .card.diff .btn:hover {
  background-color: #da0f4c;
  color: #fff;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.657);
}

#invitation {
  background: #eee;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  place-items: center;
  place-items: center;
  align-items: center;
}
#invitation > div {
  margin: 30px auto;
}
#invitation .head {
  width: 400px;
}
#invitation .head h2 {
  font-size: 4.4rem;
}
#invitation .head p {
  font-size: 15px;
}
#invitation .video {
  position: relative;
  height: 350px;
  box-shadow: 2px 4px 16px;
  margin: 10px auto;
  width: 500px;
}
#invitation .video .video-thumbnail {
  background: #eee;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: url("/img/john-mcarthur-X_MOr6oa4-k-unsplash.jpg");
  background-size: cover;
  background-position: center center;
}
#invitation .video .play_btn {
  position: absolute;
  top: 50%;
  left: -40px;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  place-items: center;
  align-items: center;
  color: #fff;
  height: 80px;
  width: 80px;
  font-size: 20px;
  transform: translateY(-50%) scale(1);
  padding: 0 3px !important;
  background-color: #da0f4c;
}
#invitation .video .play_btn:hover {
  transform: translateY(-50%) scale(0.9);
}
#invitation .video video {
  background: #eee;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

#book {
  position: relative;
  padding: 30px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#book:before {
  content: "Booking";
  font-size: calc(10rem - 100%);
  font-weight: bolder;
  padding: 0 10px;
  text-shadow: 0 0 30px #fff;
}
#book:after {
  content: "";
  width: 60%;
  box-shadow: 0 0 105px;
  padding: 50px 0;
  background-color: #02a8db;
  min-height: 500px;
  position: absolute;
  z-index: -1;
}
#book .head {
  margin: 30px 0;
  text-align: center;
}
#book .head h2 {
  font-size: 3.6rem;
}
#book .head p {
  font-size: 15px;
  padding: 3px 10px;
}
#book .book {
  padding: 50px 20px;
  margin: 10px 30px;
  border-radius: 10px;
  background: #eee;
  width: 800px;
  max-width: 90%;
}
#book .book form {
  width: 100%;
}
#book .book form .title {
  text-align: center;
  font-size: 20px;
}
#book .book form .trip_type {
  display: flex;
  justify-content: center;
  place-items: center;
  align-items: center;
}
#book .book form .flying-info {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}
#book .book form .radio-container {
  position: relative;
  display: block;
  user-select: none;
  justify-content: center;
  height: 25px;
  width: 130px;
  margin: 0 0 20px 0;
  display: flex;
  align-items: center;
}
#book .book form .radio-container p {
  margin-bottom: 9px;
  font-size: 13px;
  text-transform: capitalize;
}
#book .book form .radio-container input {
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 9;
  opacity: 0;
  cursor: pointer;
}
#book .book form .radio-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 40px;
  width: 15px;
  display: block;
  height: 15px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #fff;
}
#book .book form .radio-container:hover input:checked ~ .checkmark {
  background-color: #da0f4c;
}
#book .book form .radio-container:hover input ~ .checkmark {
  background-color: #eee;
}
#book .book form .radio-container input[type=radio]:checked ~ .checkmark {
  background-color: #da0f4c;
}
#book .book form .input_detail .flex {
  display: flex;
  justify-content: space-around;
  place-items: center;
  padding: 12px;
  place-items: center;
  margin: 1px 0;
  height: 40px;
  background-color: #fff;
  align-items: center;
}
#book .book form .input_detail .fa {
  padding: 6px 10px;
  margin-left: -10px;
}
#book .book form .input_detail input {
  width: 190px;
}
#book .book form .input_detail .custom-select {
  position: relative;
  color: inherit;
  user-select: none;
  width: 190px;
}
#book .book form .input_detail .custom-select select {
  display: none;
}
#book .book form .input_detail .custom-select .select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  transition: all 0.3s ease-out;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent;
}
#book .book form .input_detail .custom-select .select-selected.select-arrow-active:after {
  border-color: transparent transparent #000 transparent;
  top: 7px;
}
#book .book form .input_detail .custom-select .select-items div,
#book .book form .input_detail .custom-select .select-selected {
  color: #000;
  padding: 9px 10px;
  border: 1px solid transparent;
  cursor: pointer;
}
#book .book form .input_detail .custom-select .select-items {
  position: absolute;
  background-color: #02a8db;
  top: 100%;
  left: 0;
  box-shadow: 0 0 10px;
  right: 0;
  z-index: 10;
}
#book .book form .input_detail .custom-select .select-items div {
  color: #fff;
  font-weight: 400;
}
#book .book form .input_detail .custom-select .select-hide {
  display: none;
}
#book .book form .input_detail .custom-select .select-items div:hover,
#book .book form .input_detail .custom-select .same-as-selected {
  background-color: rgba(0, 0, 0, 0.657);
}
#book button[type=submit] {
  margin: 20px 0;
  background: #da0f4c;
  font-family: inherit;
  width: 100%;
}
#book button[type=submit]:hover {
  background-color: #da0f4c;
  color: #fff !important;
  transform: scale(0.9);
}
#book button[type=submit]:focus {
  color: #da0f4c;
}

.footer-credits {
  background: #000;
  width: 100%;
  display: block;
  font-family: inherit;
  font-size: 15px;
  padding: 10px;
  color: #fff;
}

footer {
  position: relative;
  margin: 3rem 0 auto;
  padding: 3rem;
  min-width: 600px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #000;
  color: #fff;
  grid-gap: 10px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
footer .link {
  text-decoration: underline;
}
footer .head {
  font-size: 27px;
}
footer li:not(:first-child) {
  padding: 6px 0;
  color: rgba(255, 255, 255, 0.76);
}
footer a {
  color: inherit;
  font-size: 15px;
}
footer > .footer__lists {
  margin: 10px;
  min-width: 200px;
}
footer form {
  width: inherit;
  margin: auto;
}
footer form input {
  width: 70%;
  padding: 15px;
}
footer form button {
  margin: 10px 0;
  font-family: inherit;
  font-size: 17px;
  width: 50%;
}
footer form button:hover {
  background-color: #da0f4c;
  transform: scale(0.9);
}
footer .connect {
  margin: 10px 0;
}
footer .connect .fa, footer .connect .fab {
  padding: 10px;
  display: inline-block;
  font-size: 20px;
  transition: color 0.3s ease-out;
}
footer .connect .fa:hover, footer .connect .fab:hover {
  color: #da0f4c;
}

@media screen and (max-width: 700px) {
  #root-main-container.active {
    transform: scale(0.8);
  }

  .header-nav {
    position: sticky;
    top: 0;
    left: 0;
    bottom: unset;
    right: unset;
    background: #fff;
    color: #000;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .header-nav .header__left .logo p {
    color: #000;
  }
  .header-nav .header__middle .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    bottom: unset;
    right: unset;
    height: 100vh;
    text-align: center;
    align-items: unset;
    width: 100%;
    background: rgba(0, 0, 0, 0.863);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transform: scale(0.8);
    display: flex;
    flex-direction: column;
    visibility: hidden;
    justify-content: center;
    text-align: left;
    opacity: 0;
    transition: transform 0.3s ease-out;
    grid-template-columns: repeat(1, auto);
  }
  .header-nav .header__middle .nav-links.active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }
  .header-nav .header__middle .nav-links li {
    width: 50%;
    transition: opacity 0.3s ease-out;
    border-bottom: 2px solid rgba(255, 255, 255, 0.178);
  }
  .header-nav .header__middle .nav-links li:hover {
    opacity: 0.6;
    transform: translateY(0);
  }
  .header-nav .header__middle .nav-links li a {
    color: #fff;
  }
  .header-nav .header__right {
    display: flex;
    justify-content: space-between;
    place-items: center;
    align-items: center;
    margin-top: 0px;
    flex-direction: column;
  }
  .header-nav .header__right > div {
    margin: 0px;
    display: none;
    background-color: transparent;
  }
  .header-nav .header__right .hamburger {
    visibility: visible;
    position: absolute;
    top: 20px;
    z-index: 99;
  }
  .header-nav .header__right .hamburger.change > .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-6px, 9px);
  }
  .header-nav .header__right .hamburger.change > .bar:nth-child(2) {
    visibility: hidden;
    opacity: 0;
  }
  .header-nav .header__right .hamburger.change > .bar:nth-child(3) {
    transform: rotate(45deg) translate(-2px, -5px);
  }
  .header-nav .header__right .hamburger > .bar {
    transition: all 0.3s ease-out;
  }
  .header-nav .header__right .hamburger.change {
    position: fixed;
  }
  .header-nav .header__right .hamburger.change > .bar {
    background-color: #fff;
  }

  .hero .hero__content {
    padding: 60px 30px !important;
    align-items: center;
    flex-wrap: wrap;
  }
  .hero .hero__content_right {
    position: relative;
    padding: 6% !important;
    width: 100%;
    margin: 0 -10px;
  }
  .hero .hero__content_right > .head {
    font-size: calc(3rem + 100%) !important;
  }

  #invitation .video {
    width: 90vw;
    height: 300px;
  }

  footer {
    justify-content: unset;
    text-align: center;
    max-width: 100%;
    min-width: 100%;
  }
  footer > .footer__lists {
    margin: auto;
  }
}
@media screen and (max-width: 980px) {
  #invitation {
    flex-direction: column;
  }
  #invitation .head {
    width: 90%;
    text-align: center;
  }
  #invitation .head h2 {
    font-size: 3.9rem;
  }
  #invitation .video {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
